# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
*/.pnp
*.pnp.js

# testing
nextjs-dashboard/coverage

# next.js
nextjs-dashboard/.next/*
*/out/

# production
*/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules/*
nextjs-dashboard/api/database.py
api/__pycache__/__init__.cpython-39.pyc
api/__pycache__/config.cpython-39.pyc
api/__pycache__/crud.cpython-39.pyc
api/__pycache__/database.cpython-39.pyc
api/__pycache__/index.cpython-39.pyc
api/__pycache__/models.cpython-39.pyc
api/__pycache__/schemas.cpython-39.pyc
.idea/.gitignore
.idea/chatbot_project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/static/chunks/polyfills.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/types/package.json
api/.idea/.gitignore
api/.idea/api.iml
api/.idea/misc.xml
api/.idea/modules.xml
api/.idea/vcs.xml
api/.idea/inspectionProfiles/profiles_settings.xml
api/.idea/inspectionProfiles/Project_Default.xml
.next/fallback-build-manifest.json
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/16.pack.gz
.next/cache/webpack/client-development/17.pack.gz
.next/cache/webpack/client-development/18.pack.gz
.next/cache/webpack/client-development/19.pack.gz
.next/cache/webpack/client-development/20.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/15.pack.gz
.next/cache/webpack/server-development/16.pack.gz
.next/cache/webpack/server-development/17.pack.gz
.next/cache/webpack/server-development/18.pack.gz
.next/cache/webpack/server-development/19.pack.gz
.next/cache/webpack/server-development/20.pack.gz
.next/cache/webpack/server-development/21.pack.gz
.next/cache/webpack/server-development/22.pack.gz
.next/server/_error.js
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/app/chatbot/page_client-reference-manifest.js
.next/server/app/chatbot/page.js
.next/server/app/dashboard/page_client-reference-manifest.js
.next/server/app/dashboard/page.js
.next/server/app/dashboard/policies/page_client-reference-manifest.js
.next/server/app/dashboard/policies/page.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/vendor-chunks/@babel+runtime@7.24.8.js
.next/server/vendor-chunks/@emotion+cache@11.11.0.js
.next/server/vendor-chunks/@emotion+hash@0.9.1.js
.next/server/vendor-chunks/@emotion+is-prop-valid@1.2.2.js
.next/server/vendor-chunks/@emotion+memoize@0.8.1.js
.next/server/vendor-chunks/@emotion+react@11.11.4_@types+react@18.3.3_react@19.0.0-rc-f38c22b244-20240704.js
.next/server/vendor-chunks/@emotion+serialize@1.1.4.js
.next/server/vendor-chunks/@emotion+sheet@1.2.2.js
.next/server/vendor-chunks/@emotion+styled@11.11.5_@emotion+react@11.11.4_@types+react@18.3.3_react@19.0.0-rc-f38c22b244_m24ztspvpn7vtcyuda5oftu3ka.js
.next/server/vendor-chunks/@emotion+unitless@0.8.1.js
.next/server/vendor-chunks/@emotion+use-insertion-effect-with-fallbacks@1.0.1_react@19.0.0-rc-f38c22b244-20240704.js
.next/server/vendor-chunks/@emotion+utils@1.2.1.js
.next/server/vendor-chunks/@emotion+weak-memoize@0.3.1.js
.next/server/vendor-chunks/@mui+base@5.0.0-beta.40_@types+react@18.3.3_react-dom@19.0.0-rc-f38c22b244-20240704_react@19._l3423qavad4wzz7syig2eafevu.js
.next/server/vendor-chunks/@mui+icons-material@5.16.2_@mui+material@5.16.1_@emotion+react@11.11.4_@types+react@18.3.3_re_qq3wmbhhpxcuz5xpvccscyy7pm.js
.next/server/vendor-chunks/@mui+material@5.16.1_@emotion+react@11.11.4_@types+react@18.3.3_react@19.0.0-rc-f38c22b244-20_rqcvmvfoh4jyz22agai3ed4yjy.js
.next/server/vendor-chunks/@mui+styled-engine@5.16.1_@emotion+react@11.11.4_@types+react@18.3.3_react@19.0.0-rc-f38c22b2_zbvmsor6uhpofsqlgmhwbjezbu.js
.next/server/vendor-chunks/@mui+system@5.16.1_@emotion+react@11.11.4_@types+react@18.3.3_react@19.0.0-rc-f38c22b244-2024_gjg2da7lb4fetjafti3cppcqoi.js
.next/server/vendor-chunks/@mui+utils@5.16.1_@types+react@18.3.3_react@19.0.0-rc-f38c22b244-20240704.js
.next/server/vendor-chunks/@swc+helpers@0.5.5.js
.next/server/vendor-chunks/clsx@2.1.1.js
.next/server/vendor-chunks/hoist-non-react-statics@3.3.2.js
.next/server/vendor-chunks/next@14.2.5_react-dom@19.0.0-rc-f38c22b244-20240704_react@19.0.0-rc-f38c22b244-20240704__reac_xqmy3ieh4cmvm3uff5g2oclcjy.js
.next/server/vendor-chunks/object-assign@4.1.1.js
.next/server/vendor-chunks/prop-types@15.8.1.js
.next/server/vendor-chunks/react-is@16.13.1.js
.next/server/vendor-chunks/react-is@18.3.1.js
.next/server/vendor-chunks/react-transition-group@4.4.5_react-dom@19.0.0-rc-f38c22b244-20240704_react@19.0.0-rc-f38c22b2_r6w5ypez7xhilcoocuppa2ho2q.js
.next/server/vendor-chunks/stylis@4.2.0.js
.next/static/chunks/_error.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/main.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/app/_not-found/page.js
.next/static/chunks/app/chatbot/layout.js
.next/static/chunks/app/chatbot/page.js
.next/static/chunks/app/dashboard/layout.js
.next/static/chunks/app/dashboard/page.js
.next/static/chunks/app/dashboard/policies/page.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/css/app/layout.css
.next/static/webpack/0dca4556e5db96f5.webpack.hot-update.json
.next/static/webpack/0eba53cb54aae16b.webpack.hot-update.json
.next/static/webpack/1d6361025499cf1c.webpack.hot-update.json
.next/static/webpack/2f360b2f0bbe23f2.webpack.hot-update.json
.next/static/webpack/3f62698868d3f716.webpack.hot-update.json
.next/static/webpack/8ba644c1be313a43.webpack.hot-update.json
.next/static/webpack/8c9212311010df48.webpack.hot-update.json
.next/static/webpack/12ba5dc5280e8e6b.webpack.hot-update.json
.next/static/webpack/19b97a763ca2654c.webpack.hot-update.json
.next/static/webpack/46cca1377d7edf2f.webpack.hot-update.json
.next/static/webpack/56fdb60ee69ad199.webpack.hot-update.json
.next/static/webpack/80fd7abc3fc1ed1d.webpack.hot-update.json
.next/static/webpack/126e4a8358c851f8.webpack.hot-update.json
.next/static/webpack/164c8d4b502089b1.webpack.hot-update.json
.next/static/webpack/212a50eb3fbe509e.webpack.hot-update.json
.next/static/webpack/0264a8900638aaf6.webpack.hot-update.json
.next/static/webpack/326a44c886cd3bc6.webpack.hot-update.json
.next/static/webpack/0463fa4c90498f9d.webpack.hot-update.json
.next/static/webpack/684f0ffaed5fbe68.webpack.hot-update.json
.next/static/webpack/729e10ffefe27d83.webpack.hot-update.json
.next/static/webpack/0755c73f6ba33f7d.webpack.hot-update.json
.next/static/webpack/792ad12ad9438476.webpack.hot-update.json
.next/static/webpack/804fb0be95e42c3a.webpack.hot-update.json
.next/static/webpack/3916c060176421b0.webpack.hot-update.json
.next/static/webpack/8274e632ade51eae.webpack.hot-update.json
.next/static/webpack/9474d4b9933e796e.webpack.hot-update.json
.next/static/webpack/928607fe4361a0cf.webpack.hot-update.json
.next/static/webpack/2934864a73835aad.webpack.hot-update.json
.next/static/webpack/09596080a349dde3.webpack.hot-update.json
.next/static/webpack/695325197bb2afd1.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/aa4055d655129b38.webpack.hot-update.json
.next/static/webpack/b34dae028ad59414.webpack.hot-update.json
.next/static/webpack/b302cfc1ab9c0753.webpack.hot-update.json
.next/static/webpack/b6450bbb61179619.webpack.hot-update.json
.next/static/webpack/b50266dc1cc7c76e.webpack.hot-update.json
.next/static/webpack/bc076c988cb85540.webpack.hot-update.json
.next/static/webpack/bd54154484d5041e.webpack.hot-update.json
.next/static/webpack/c2f1629d370e7669.webpack.hot-update.json
.next/static/webpack/d816143ae070fa2a.webpack.hot-update.json
.next/static/webpack/e10f32c33159f5a3.webpack.hot-update.json
.next/static/webpack/e03194a1b9c5f966.webpack.hot-update.json
.next/static/webpack/f3b71790aaa701d9.webpack.hot-update.json
.next/static/webpack/f52d6d784dbeb599.webpack.hot-update.json
.next/static/webpack/webpack.0dca4556e5db96f5.hot-update.js
.next/static/webpack/webpack.0eba53cb54aae16b.hot-update.js
.next/static/webpack/webpack.1d6361025499cf1c.hot-update.js
.next/static/webpack/webpack.2f360b2f0bbe23f2.hot-update.js
.next/static/webpack/webpack.3f62698868d3f716.hot-update.js
.next/static/webpack/webpack.8ba644c1be313a43.hot-update.js
.next/static/webpack/webpack.8c9212311010df48.hot-update.js
.next/static/webpack/webpack.12ba5dc5280e8e6b.hot-update.js
.next/static/webpack/webpack.19b97a763ca2654c.hot-update.js
.next/static/webpack/webpack.46cca1377d7edf2f.hot-update.js
.next/static/webpack/webpack.56fdb60ee69ad199.hot-update.js
.next/static/webpack/webpack.80fd7abc3fc1ed1d.hot-update.js
.next/static/webpack/webpack.126e4a8358c851f8.hot-update.js
.next/static/webpack/webpack.164c8d4b502089b1.hot-update.js
.next/static/webpack/webpack.212a50eb3fbe509e.hot-update.js
.next/static/webpack/webpack.0264a8900638aaf6.hot-update.js
.next/static/webpack/webpack.326a44c886cd3bc6.hot-update.js
.next/static/webpack/webpack.0463fa4c90498f9d.hot-update.js
.next/static/webpack/webpack.684f0ffaed5fbe68.hot-update.js
.next/static/webpack/webpack.729e10ffefe27d83.hot-update.js
.next/static/webpack/webpack.0755c73f6ba33f7d.hot-update.js
.next/static/webpack/webpack.792ad12ad9438476.hot-update.js
.next/static/webpack/webpack.804fb0be95e42c3a.hot-update.js
.next/static/webpack/webpack.3916c060176421b0.hot-update.js
.next/static/webpack/webpack.8274e632ade51eae.hot-update.js
.next/static/webpack/webpack.9474d4b9933e796e.hot-update.js
.next/static/webpack/webpack.928607fe4361a0cf.hot-update.js
.next/static/webpack/webpack.2934864a73835aad.hot-update.js
.next/static/webpack/webpack.09596080a349dde3.hot-update.js
.next/static/webpack/webpack.695325197bb2afd1.hot-update.js
.next/static/webpack/webpack.aa4055d655129b38.hot-update.js
.next/static/webpack/webpack.b34dae028ad59414.hot-update.js
.next/static/webpack/webpack.b302cfc1ab9c0753.hot-update.js
.next/static/webpack/webpack.b6450bbb61179619.hot-update.js
.next/static/webpack/webpack.b50266dc1cc7c76e.hot-update.js
.next/static/webpack/webpack.bc076c988cb85540.hot-update.js
.next/static/webpack/webpack.bd54154484d5041e.hot-update.js
.next/static/webpack/webpack.c2f1629d370e7669.hot-update.js
.next/static/webpack/webpack.d816143ae070fa2a.hot-update.js
.next/static/webpack/webpack.e10f32c33159f5a3.hot-update.js
.next/static/webpack/webpack.e03194a1b9c5f966.hot-update.js
.next/static/webpack/webpack.f3b71790aaa701d9.hot-update.js
.next/static/webpack/webpack.f52d6d784dbeb599.hot-update.js
.next/static/webpack/app/layout.0dca4556e5db96f5.hot-update.js
.next/static/webpack/app/layout.0eba53cb54aae16b.hot-update.js
.next/static/webpack/app/layout.2f360b2f0bbe23f2.hot-update.js
.next/static/webpack/app/layout.3f62698868d3f716.hot-update.js
.next/static/webpack/app/layout.8ba644c1be313a43.hot-update.js
.next/static/webpack/app/layout.8c9212311010df48.hot-update.js
.next/static/webpack/app/layout.12ba5dc5280e8e6b.hot-update.js
.next/static/webpack/app/layout.19b97a763ca2654c.hot-update.js
.next/static/webpack/app/layout.46cca1377d7edf2f.hot-update.js
.next/static/webpack/app/layout.56fdb60ee69ad199.hot-update.js
.next/static/webpack/app/layout.80fd7abc3fc1ed1d.hot-update.js
.next/static/webpack/app/layout.126e4a8358c851f8.hot-update.js
.next/static/webpack/app/layout.164c8d4b502089b1.hot-update.js
.next/static/webpack/app/layout.212a50eb3fbe509e.hot-update.js
.next/static/webpack/app/layout.0264a8900638aaf6.hot-update.js
.next/static/webpack/app/layout.326a44c886cd3bc6.hot-update.js
.next/static/webpack/app/layout.0463fa4c90498f9d.hot-update.js
.next/static/webpack/app/layout.684f0ffaed5fbe68.hot-update.js
.next/static/webpack/app/layout.0755c73f6ba33f7d.hot-update.js
.next/static/webpack/app/layout.792ad12ad9438476.hot-update.js
.next/static/webpack/app/layout.804fb0be95e42c3a.hot-update.js
.next/static/webpack/app/layout.3916c060176421b0.hot-update.js
.next/static/webpack/app/layout.8274e632ade51eae.hot-update.js
.next/static/webpack/app/layout.9474d4b9933e796e.hot-update.js
.next/static/webpack/app/layout.2934864a73835aad.hot-update.js
.next/static/webpack/app/layout.09596080a349dde3.hot-update.js
.next/static/webpack/app/layout.695325197bb2afd1.hot-update.js
.next/static/webpack/app/layout.aa4055d655129b38.hot-update.js
.next/static/webpack/app/layout.b34dae028ad59414.hot-update.js
.next/static/webpack/app/layout.b302cfc1ab9c0753.hot-update.js
.next/static/webpack/app/layout.b6450bbb61179619.hot-update.js
.next/static/webpack/app/layout.b50266dc1cc7c76e.hot-update.js
.next/static/webpack/app/layout.bc076c988cb85540.hot-update.js
.next/static/webpack/app/layout.bd54154484d5041e.hot-update.js
.next/static/webpack/app/layout.c2f1629d370e7669.hot-update.js
.next/static/webpack/app/layout.d816143ae070fa2a.hot-update.js
.next/static/webpack/app/layout.e10f32c33159f5a3.hot-update.js
.next/static/webpack/app/layout.e03194a1b9c5f966.hot-update.js
.next/static/webpack/app/layout.f52d6d784dbeb599.hot-update.js
.next/static/webpack/app/chatbot/layout.0dca4556e5db96f5.hot-update.js
.next/static/webpack/app/chatbot/layout.3f62698868d3f716.hot-update.js
.next/static/webpack/app/chatbot/layout.212a50eb3fbe509e.hot-update.js
.next/static/webpack/app/chatbot/layout.0463fa4c90498f9d.hot-update.js
.next/static/webpack/app/chatbot/layout.792ad12ad9438476.hot-update.js
.next/static/webpack/app/chatbot/layout.3916c060176421b0.hot-update.js
.next/static/webpack/app/chatbot/layout.8274e632ade51eae.hot-update.js
.next/static/webpack/app/chatbot/layout.9474d4b9933e796e.hot-update.js
.next/static/webpack/app/chatbot/layout.b302cfc1ab9c0753.hot-update.js
.next/static/webpack/app/chatbot/layout.bd54154484d5041e.hot-update.js
.next/static/webpack/app/dashboard/layout.0dca4556e5db96f5.hot-update.js
.next/static/webpack/app/dashboard/layout.3f62698868d3f716.hot-update.js
.next/static/webpack/app/dashboard/layout.0463fa4c90498f9d.hot-update.js
.next/static/webpack/app/dashboard/layout.792ad12ad9438476.hot-update.js
.next/static/webpack/app/dashboard/layout.3916c060176421b0.hot-update.js
.next/static/webpack/app/dashboard/layout.8274e632ade51eae.hot-update.js
.next/static/webpack/app/dashboard/layout.bc076c988cb85540.hot-update.js
.next/static/webpack/app/dashboard/layout.bd54154484d5041e.hot-update.js
.next/static/webpack/app/dashboard/layout.f3b71790aaa701d9.hot-update.js
.next/static/webpack/app/dashboard/page.326a44c886cd3bc6.hot-update.js
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/chatbot/layout.ts
.next/types/app/chatbot/page.ts
.next/types/app/dashboard/layout.ts
.next/types/app/dashboard/page.ts
.next/types/app/dashboard/policies/page.ts
