# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
*/.pnp
*.pnp.js

# testing
nextjs-dashboard/coverage

# next.js
nextjs-dashboard/.next/*
*/out/

# production
*/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules/*
nextjs-dashboard/api/database.py
*/__pycache__/*
api/__pycache__/*
api/__pycache__/config.cpython-39.pyc
api/__pycache__/crud.cpython-39.pyc
api/__pycache__/database.cpython-39.pyc
api/__pycache__/index.cpython-39.pyc
api/__pycache__/models.cpython-39.pyc
api/__pycache__/schemas.cpython-39.pyc
.idea/*
.next/*
*/env
env/*
api/.idea/*
api/algorithm/__pycache__/__init__.cpython-39.pyc
api/algorithm/__pycache__/__init__.cpython-312.pyc
api/algorithm/__pycache__/CustomDataset.cpython-312.pyc
api/algorithm/__pycache__/data_processing.cpython-39.pyc
api/algorithm/__pycache__/data_processing.cpython-312.pyc
api/algorithm/__pycache__/pre_processing.cpython-39.pyc
api/algorithm/__pycache__/pre_processing.cpython-312.pyc
api/algorithm/__pycache__/test_data.cpython-312.pyc
api/algorithm/__pycache__/training.cpython-39.pyc
api/algorithm/__pycache__/training.cpython-312.pyc
api/__pycache__/data_processing.cpython-39.pyc
api/__pycache__/data_processing.cpython-39.pyc
api/algorithm/intent_model/config.json
api/algorithm/intent_model/model.safetensors
api/algorithm/ner_model/config.json
api/algorithm/ner_model/model.safetensors
api/algorithm/results/checkpoint-12/config.json
api/algorithm/results/checkpoint-12/model.safetensors
api/algorithm/results/checkpoint-12/optimizer.pt
api/algorithm/results/checkpoint-12/rng_state.pth
api/algorithm/results/checkpoint-12/scheduler.pt
api/algorithm/results/checkpoint-12/special_tokens_map.json
api/algorithm/results/checkpoint-12/tokenizer_config.json
api/algorithm/results/checkpoint-12/tokenizer.json
api/algorithm/results/checkpoint-12/trainer_state.json
api/algorithm/results/checkpoint-12/training_args.bin
api/algorithm/results/checkpoint-12/vocab.txt
api/algorithm/results/checkpoint-15/config.json
api/algorithm/results/checkpoint-15/model.safetensors
api/algorithm/results/checkpoint-15/optimizer.pt
api/algorithm/results/checkpoint-15/rng_state.pth
api/algorithm/results/checkpoint-15/scheduler.pt
api/algorithm/results/checkpoint-15/special_tokens_map.json
api/algorithm/results/checkpoint-15/tokenizer_config.json
api/algorithm/results/checkpoint-15/tokenizer.json
api/algorithm/results/checkpoint-15/trainer_state.json
api/algorithm/results/checkpoint-15/training_args.bin
api/algorithm/results/checkpoint-15/vocab.txt
api/algorithm/results/checkpoint-150/config.json
api/algorithm/results/checkpoint-150/model.safetensors
api/algorithm/results/checkpoint-150/optimizer.pt
api/algorithm/results/checkpoint-150/rng_state.pth
api/algorithm/results/checkpoint-150/scheduler.pt
api/algorithm/results/checkpoint-150/special_tokens_map.json
api/algorithm/results/checkpoint-150/tokenizer_config.json
api/algorithm/results/checkpoint-150/tokenizer.json
api/algorithm/results/checkpoint-150/trainer_state.json
api/algorithm/results/checkpoint-150/training_args.bin
api/algorithm/results/checkpoint-150/vocab.txt
api/algorithm/results/checkpoint-3/config.json
api/algorithm/results/checkpoint-3/model.safetensors
api/algorithm/results/checkpoint-3/optimizer.pt
api/algorithm/results/checkpoint-3/rng_state.pth
api/algorithm/results/checkpoint-3/scheduler.pt
api/algorithm/results/checkpoint-3/special_tokens_map.json
api/algorithm/results/checkpoint-3/tokenizer_config.json
api/algorithm/results/checkpoint-3/tokenizer.json
api/algorithm/results/checkpoint-3/trainer_state.json
api/algorithm/results/checkpoint-3/training_args.bin
api/algorithm/results/checkpoint-3/vocab.txt
api/algorithm/results/checkpoint-36/config.json
api/algorithm/results/checkpoint-36/model.safetensors
api/algorithm/results/checkpoint-36/optimizer.pt
api/algorithm/results/checkpoint-36/rng_state.pth
api/algorithm/results/checkpoint-36/scheduler.pt
api/algorithm/results/checkpoint-36/special_tokens_map.json
api/algorithm/results/checkpoint-36/tokenizer_config.json
api/algorithm/results/checkpoint-36/tokenizer.json
api/algorithm/results/checkpoint-36/trainer_state.json
api/algorithm/results/checkpoint-36/training_args.bin
api/algorithm/results/checkpoint-36/vocab.txt
api/algorithm/results/checkpoint-4/config.json
api/algorithm/results/checkpoint-4/model.safetensors
api/algorithm/results/checkpoint-4/optimizer.pt
api/algorithm/results/checkpoint-4/rng_state.pth
api/algorithm/results/checkpoint-4/scheduler.pt
api/algorithm/results/checkpoint-4/special_tokens_map.json
api/algorithm/results/checkpoint-4/tokenizer_config.json
api/algorithm/results/checkpoint-4/tokenizer.json
api/algorithm/results/checkpoint-4/trainer_state.json
api/algorithm/results/checkpoint-4/training_args.bin
api/algorithm/results/checkpoint-4/vocab.txt
api/algorithm/results/checkpoint-6/config.json
api/algorithm/results/checkpoint-6/model.safetensors
api/algorithm/results/checkpoint-6/optimizer.pt
api/algorithm/results/checkpoint-6/rng_state.pth
api/algorithm/results/checkpoint-6/scheduler.pt
api/algorithm/results/checkpoint-6/special_tokens_map.json
api/algorithm/results/checkpoint-6/tokenizer_config.json
api/algorithm/results/checkpoint-6/tokenizer.json
api/algorithm/results/checkpoint-6/trainer_state.json
api/algorithm/results/checkpoint-6/training_args.bin
api/algorithm/results/checkpoint-6/vocab.txt
api/algorithm/tokenizer/special_tokens_map.json
api/algorithm/tokenizer/tokenizer_config.json
api/algorithm/tokenizer/tokenizer.json
api/algorithm/tokenizer/vocab.txt
api/__pycache__/data_processing.cpython-39.pyc
