# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
*/.pnp
*.pnp.js

# testing
nextjs-dashboard/coverage

# next.js
nextjs-dashboard/.next/*
*/out/

# production
*/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules/*
nextjs-dashboard/api/database.py
api/__pycache__/__init__.cpython-39.pyc
api/__pycache__/config.cpython-39.pyc
api/__pycache__/crud.cpython-39.pyc
api/__pycache__/database.cpython-39.pyc
api/__pycache__/index.cpython-39.pyc
api/__pycache__/models.cpython-39.pyc
api/__pycache__/schemas.cpython-39.pyc
.idea/.gitignore
.idea/chatbot_project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/static/chunks/polyfills.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/types/package.json
api/.idea/.gitignore
api/.idea/api.iml
api/.idea/misc.xml
api/.idea/modules.xml
api/.idea/vcs.xml
api/.idea/inspectionProfiles/profiles_settings.xml
api/.idea/inspectionProfiles/Project_Default.xml
